<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://digitalbookpaymentgateway.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/618be123-ef84-41f3-934a-32276139a3c1/resourcegroups/DigitalBook-rg/providers/Microsoft.Web/sites/DigitalBookPaymentGateway</ResourceId>
    <UserName>$DigitalBookPaymentGateway</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://digitalbookpaymentgateway.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>